[Desktop Entry]
test=
test2
foo = 
#hi
gewh= yuhself
a-r950   =  tek;la; fi
hi=bye

you=yeh
hi=double
Type=Application
Exec=foo
Name=myname
Categories=one;two;;three
