[Desktop Entry]
Type=Application
Name=Openbox
Exec=openbox

# name we put on the WM spec check window
X-GNOME-WMName=Openbox

# our config tool
ConfigExec=obconf

[Window Manager]
SessionManaged=true
