[Desktop Entry]
Name=Openbox/GNOME
Exec=openbox-kde

# name we put on the WM spec check window
X-GNOME-WMName=openbox-kde

# our config tool
ConfigExec=obconf

